<nav class="navbar navbar-expand-lg navbar-light bg-light  nav-tranparent">
  <div class="container-fluid">
    <div style="width: 10vw;"></div>
    <a class="navbar-brand" href="{{url_for('users.index')}}"><img src="{{url_for('static', filename='images/logo2.png')}}" width="250px"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">

      </span>
    </button>

    <span class="d-flex">
      
        {% if current_user.is_authenticated %}

        <!-- <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            {{current_user.user_name}}
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="{{url_for('users.logout')}}">Salir/a></li>
            
          </ul>
        </div> -->

          <a class="btn btn-outline-dark" href="{{url_for('users.logout')}}">{{current_user.user_name}} - Salir </a>


        {% else %}

           <a class="btn btn-outline-dark" href="{{url_for('users.login_user')}}">Cuenta de Usuario </a>

        {% endif %}

     
    </span>

  </div>

</nav>