{% extends 'layoutAdmin.html' %}

{% block space %}

<li class="breadcrumb-item"><span>Sistema</span></li>
<li class="breadcrumb-item active"><span>Usuarios</span></li>

{% endblock %}

{% block container %}
<div class="body flex-grow-1 px-3">
  <div class="container-lg">
    <div class="card mb-4">
      <div class="card-header"><strong>Listado de Usuarios</strong></div>
      <div class="card-body">

        <table class="table table-hover" id="example">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Usuario</th>
              <th scope="col">Nombre</th>
              <th scope="col">Correo</th>
              <th scope="col">Rol</th>
              <th scope="col">Estado</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>

            {% for user in users %}
            <tr>
              <th scope="row">{{user.id_number}}</th>
              <td>{{user.user_name}}</td>
              <td>{{user.name}}</td>
              <td>{{user.email}}</td>
              <td>{{user.role.description}}</td>
              <td> {% if user.is_enable %}
                <b class="text-success">Habilitado</b>
                {% else %}
                <b class="text-danger">Desabilitado</b>
                {% endif %}
              </td>

              <td><a href="{{url_for('admin.show_admin',id=user.id_number)}}" class="btn btn-sm btn-primary" title="ver detalles">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye"
                    viewBox="0 0 16 16">
                    <path
                      d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                    <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
                  </svg>
                </a>
                <a href="{{url_for('admin.update_admin',id=user.id_number)}} " class="btn btn-sm btn-success" title="editar">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path
                      d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                    <path fill-rule="evenodd"
                      d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                  </svg>
                </a>


                <span role="button" class="btn btn-sm btn-warning btnDeleteHabitacion" title="desabilitar usuario"
                  data-bs-toggle="modal" data-bs-target="#exampleModal" data-number="{{user.id_number}}"
                  data-url="{{url_for('admin.disable_user',id=user.id_number)}}">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash"
                    viewBox="0 0 16 16">
                    <path
                      d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                    <path fill-rule="evenodd"
                      d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                  </svg>
                </span>

              </td>
            </tr>

            {% endfor %}

          </tbody>
        </table>



      </div>
      <div class="col-12 text-center mb-2">
        <a href="{{url_for('admin.register_admin')}}" class="btn btn-primary">Crear Nuevo Usuario admin</a>
        <a href="{{url_for('admin.register_user')}}" class="btn btn-primary ml-2">Crear Nuevo Usuario Cliente</a>
      </div>
    </div>

  </div>

</div>

<!-- Modal Delete -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="formDeleteModal" action="" method="GET">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Desabilitar Usuario</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Confirma que desea desabilitar el usuario <b id="number"></b>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Desabiltar</button>
        </div>

      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block scriptExta %}

<script>
  $('.btnDeleteHabitacion').on('click', function (e) {

    number = $(this).data().number
    url = $(this).data().url

    $('#formDeleteModal').prop('action', url)

    $('#number').text(number)




  })

</script>

{% endblock%}