{% extends 'layoutAdmin.html' %}

{% block space %}

<li class="breadcrumb-item"><span>Hotel</span></li>
<li class="breadcrumb-item"><span>Reservas</span></li>
<li class="breadcrumb-item active"><span>Actualizar</span></li>

{% endblock %}
{% block container %}
<div class="body flex-grow-1 px-3">
  <div class="container-lg">

    <div class="card mb-4">
      <div class="card-header"><strong>Actualizar Reserva</strong></div>
      <div class="card-body">

        <form action="{{url_for('reservas.update_admin',id=id)}}" class="row " method="post">

          {{ form.csrf_token }}

          <div class="form-outline mb-4 {%if form.user_id.errors %} has-error{% endif %}">
            {{ form.user_id.label(class='form-label') }}
            {{ form.user_id(class='form-control', value='') }}
            {% for error in form.user_id.errors %}
            <span class="help-block">{{ error }}</span>
            {% endfor %}

          </div>

          <div class="form-outline mb-4 col-md-6 mb-4 {%if form.date_from.errors %} has-error{% endif %}">
            {{ form.date_from.label(class='form-label') }}
            {{ form.date_from(class='form-control', value='') }}
            {% for error in form.date_from.errors %}
            <span class="help-block">{{ error }}</span>
            {% endfor %}

          </div>

          <div class="form-outline mb-4 col-md-6 mb-4 {%if form.date_to.errors %} has-error{% endif %}">
            {{ form.date_to.label(class='form-label') }}
            {{ form.date_to(class='form-control', value='') }}
            {% for error in form.date_to.errors %}
            <span class="help-block">{{ error }}</span>
            {% endfor %}

          </div>

          <div class="form-outline mb-4 col-md-6 mb-4 {%if form.room_id.errors %} has-error{% endif %}">
            {{ form.room_id.label(class='form-label') }}
            {{ form.room_id(class='form-control', value='') }}
            {% for error in form.room_id.errors %}
            <span class="help-block">{{ error }}</span>
            {% endfor %}

          </div>


          <!-- <div class="form-outline mb-4 col-6">
                      <label class="form-label" for="number_room">Datos de la habitación</label>
  
                      <div class="card" style="width: 500px;">
                          
                          <div class="card-body">
                            <h5 class="card-title">Número 201</h5>
                            <p class="card-text"><b>Descripción: </b> Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                            
                          </div>
  
                          <img src="../public/images/img_wiews/habitacion1.jpg" class="card-img-top" alt="Habitacion1" width="146"
                          height="300">
                        </div>
                  
                      
                  </div> -->

          <div class="text-center">
            <button type="submit" class="btn btn-outline-dark btn-block mb-4">Actualizar Reserva</button>
          </div>

        </form>





      </div>
    </div>


  </div>
</div>


{% endblock %}