<!--section sidebar -->
<section class="sidebar  sidebar-fixed" id="sidebar">
    <div class="sidebar-brand d-none d-md-flex">
      <span class="sidebar-brand-full"><img src="{{url_for('static', filename='images/logo_sin_fondo.png')}}" alt="Milenium Plaza"  width="146" height="56"></span>
      <span class="sidebar-brand-narrow" width="46" height="46" alt="CoreUI Logo">Logo</span>
    </div>
    <ul class="sidebar-nav " data-coreui="navigation" data-simplebar="">

      <li class="nav-group"><a class="nav-link nav-group-toggle" href="#">Sistema</a>
        <ul class="nav-group-items">
          <li class="nav-item"><a class="nav-link" href="usuarios_admin.html"><span class="nav-icon"> </span>Usuarios </a></li>
        </ul>
      </li>

      <li class="nav-group"><a class="nav-link nav-group-toggle" href="#">Hotel</a>
        <ul class="nav-group-items">
          <li class="nav-item"><a class="nav-link" href="habitaciones_admin.html"><span class="nav-icon"> </span>Habitaciones</a>
          </li>
          <li class="nav-item"><a class="nav-link" href="reservas_admin.html"><span class="nav-icon"> </span>Reservas</a></li>
        </ul>
      </li>

  </section>