{% extends 'layoutAdmin.html' %}

{% block space %}

<li class="breadcrumb-item"><span>Hotel</span></li>
<li class="breadcrumb-item"><span>Habitaciones</span></li>
<li class="breadcrumb-item active"><span>Actualizar</span></li>

{% endblock %}

{% block container %}

<div class="body flex-grow-1 px-3">
  <div class="container-lg">
    <div class="card mb-4">
        <div class="card-header"><strong>Editar Habitaciones</strong></div>
        <div class="card-body">

            <form action="{{url_for('habitaciones.update',id=id)}}" method="POST">

              {{ form.csrf_token }}

              <div class="form-outline mb-4 {%if form.number.errors %} has-error{% endif %}">
                {{ form.number.label(class='form-label') }} 
                {{ form.number(class='form-control')}}
                {% for error in form.number.errors %}
                    <span class="help-block">{{ error }}</span>
                {% endfor %}
                
              </div>




              <div class="form-outline mb-4 {%if form.description.errors %} has-error{% endif %}">
                {{ form.description.label(class='form-label') }} 
                {{ form.description(class='form-control') }}
                {% for error in form.description.errors %}
                    <span class="help-block">{{ error }}</span>
                {% endfor %}
                
              </div>

              <div class="form-outline mb-4 {%if form.is_enable.errors %} has-error{% endif %}">
                {{ form.is_enable.label(class='form-check-label') }} 
                {{ form.is_enable(class='form-check-input') }}
                {% for error in form.is_enable.errors %}
                    <span class="help-block">{{ error }}</span>
                {% endfor %}
                
              </div>


              <div class="text-center">
                <button type="submit" class="btn btn-outline-dark btn-block mb-4">Actualizar Habitación</button>
              </div>

            </form>


        </div>
    </div>

  </div>
</div>


{% endblock %}

