{% extends 'layoutUser.html' %}

{% block body %}

  {% block navbar %}

  {% include 'partials/_navbar.html' %}
  
  {% endblock %}

    <main>
        <div class="d-flex justify-content-center align-items-center" style="height:80vh;">


            <div class="card" style="width: 30rem;">
                <div class="card-body">
                    <form action="{{url_for('users.login_user')}}" method="post">
                        {{ form.csrf_token }}


                        <div class="form-outline mb-4 {%if form.user_name.errors %} has-error{% endif %}">
                            {{ form.user_name.label(class='form-label') }} 
                            {{ form.user_name(class='form-control', value='') }}
                            {% for error in form.user_name.errors %}
                                <span class="help-block">{{ error }}</span>
                            {% endfor %}
                            
                        </div>

                        <div class="form-outline mb-4 {%if form.pasword.errors %} has-error{% endif %}">
                            {{ form.pasword.label(class='form-label') }} 
                            {{ form.pasword(class='form-control', value='') }}
                            {% for error in form.pasword.errors %}
                                <span class="help-block">{{ error }}</span>
                            {% endfor %}
                            
                        </div>

                        <div>
                            {{msj}}
                        </div>
                        


                       <!--  <div class="row mb-4">
                            <div class="col d-flex justify-content-end">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="remenberme" checked />
                                    <label class="form-check-label" for="remenberme"> Recordarme </label>
                                </div>

                            </div>
                            <div class="text-center">
                                <a href="#" class="me-4">Olvide mi Contraseña?</a>
                            </div>

                        </div>
 -->


                        <div class="text-center">
                            {{ form.submit(class='btn btn-outline-dark btn-block mb-4') }}
                            
                        </div>
                            
                            

                        <div class="text-center">
                            <p>No estoy Resgistrado? <a href="{{url_for('users.register_user')}}">Registrarse</a></p>
                        </div> 
                    </form>

                </div>
            </div>

        </div>
    </main>

{% endblock %}